<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.association :categories, label_method: :eventType,:as => :check_boxes %>
  <%= f.input :body %>
  <%= f.input :start_at, :as => :datetime_picker%>
  <%= f.input :end_at, :as => :datetime_picker%>
  <%= f.input :room_id do %>
  <%= f.collection_select :room_id, Room.all, :id, :name, :prompt => "Select Room" %> <% end %>
  <%= f.input :music %>
  <%= f.input :scripture %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>

