<% @events.each do |event| %>
    <div class="row">
      <div class="span8"><h2><%= link_to event.title, event_path(event)  %> </h2></div>
      <div class="span4"><h3><%= l event.start_at, :format => :long %></h3></div>
    </div>
    <div class="row">
      <div class="span8">Pastor: <%= link_to event.user.name, root_path(:user => event.user.id) %></div>
      <div class="span4">Categories:
        <% event.categories.each do |cat| %>
            <%= link_to cat.eventType, root_path(:cat => cat.id) %>
        <% end %>
      </div>
    </div>
    <br/>
    <blockquote><%= event.body %></blockquote>

    <% if current_user && (current_user.has_role?(:admin) || current_user.id==event.user_id) %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_event_path(event), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    event_path(event),
                    :method => :delete,
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                    :class => 'btn btn-mini btn-danger' %>

    <% end %>
    <hr />
<% end %>

<% if current_user %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>
<% end %>