<%# add navigation links to this file %>
<% if user_signed_in? %>

  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <% if current_user.has_role? :admin %>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
  <li><%= link_to 'Rooms', rooms_path %></li>


<% end %>

<% end %>

